@font-face {
    font-family: 'Abril';
    src: url(assets/fonts/AbrilFatface-Regular.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'Tiro-Italic';
    src: url(assets/fonts/TiroDevanagariMarathi-Italic.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'Tiro';
    src: url(assets/fonts/AnekLatin-VariableFont_wdth\,wght.ttf);
    font-weight: 100;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Tiro, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.7;
    color: #ffffff;
    background-color: #000000e5;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-right {
    background-color: black;
    border-radius: 20px;
    width: 1024px;
    margin: 20px auto;
    box-shadow: 10px 10px 100px 20px rgba(194, 194, 194, 0.5);
}

* {
    box-sizing: border-box;
}

.header {
    /* border: 1px solid rgb(194, 194, 194); */
}

.main {
    /* border: 1px solid rgb(194, 194, 194); */
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

#code {
    width: 95%;
    background-color: rgba(31, 28, 28, 0.308);
    border-radius: 50px;
    padding: 20px;
    margin: 35px 50px 35px 25px;
    box-shadow: 2px 2px 30px -5px rgba(255, 255, 255, 0.288);
}

#projects {
    width: 95%;
    background-color: rgba(31, 28, 28, 0.308);
    border-radius: 50px;
    padding: 20px;
    margin: 45px 50px 35px 25px;
    box-shadow: 2px 2px 30px -5px rgba(255, 255, 255, 0.288);
}

#profile {
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    padding: 50px;
}

.section {
    width: auto;
}

.left-colums {
    width: 45%;
    background-color: rgba(31, 28, 28, 0.308);
    border-radius: 50px;
    padding: 20px;
    margin: 0px 50px 0px 25px;
    box-shadow: 2px 2px 30px -5px rgba(255, 255, 255, 0.288);
}

.right-colums {
    width: 45%;
    background-color: rgba(31, 28, 28, 0.308);
    border-radius: 50px;
    padding: 20px;
    box-shadow: 2px 2px 30px -5px rgba(255, 255, 255, 0.288);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 30px;
    line-height: 50px;
    transition: .6s;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.nav-list a {
    text-decoration: none;
    color: rgb(194, 194, 194);
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(194, 194, 194, 0.7);
    transition: color 0.5s;
    border-radius: 50px;
}

.nav-list a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: bolder;
    background: rgba(30, 52, 252, 0.527);
    transition: .3s;
}

.github {
    color: rgb(194, 194, 194);
}

.github:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: bolder;
    background: rgba(30, 52, 252, 0.281);
    transition: .6s;
}

h1 {
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-style: italic;
}

.my-photo {
    border-radius: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(46, 46, 46);
}

.footer a {
    text-decoration: none;
    color: rgb(194, 194, 194);
    font-size: 30px;
    font-weight: bolder;
}

.my-github {
    display: flex;
    align-items: center;
}

.github-icon {
    height: 50px;
}

.rs-icon {
    height: 50px;
}